---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import PostMeta from "../../components/PostMeta.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Base title={post.data.title} description={post.data.description}>
  <article>
    <h1>{post.data.title}</h1>
    <PostMeta date={post.data.date} tags={post.data.tags} />
    <Content />
  </article>
</Base>
