---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import PostMeta from "../components/PostMeta.astro";

const posts = (await getCollection("blog", ({ data }) => !data.draft))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Base title="mrob.org">
  <ul class="post-list">
    {
      posts.map((post) => (
        <li class={post.data.cover ? "has-cover" : ""}>
          {post.data.cover && (
            <a href={`/blog/${post.slug}/`} class="cover-link">
              <Image src={post.data.cover} alt="" class="cover-image" />
            </a>
          )}
          <div class="post-details">
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            <PostMeta date={post.data.date} tags={post.data.tags} />
            {post.data.description && (
              <p class="description">{post.data.description}</p>
            )}
          </div>
        </li>
      ))
    }
  </ul>
</Base>
